// colors
$textColor = #1f364d
$arrowBgDarkColor = rgba(204, 204, 204, 0.2)
$accentColor =  #8045d9
$accentDarkColor = #8045d9
$codeBgLightColor = #282c34
$dangerDarkColor = #da5961
$tipBgColor = #3b3c3e
$bgColor = #111524 //#111524

//theme

$contentClass = '.theme-default-content'

$accentColor ?= #8151c9
$accentDarkColor ?= #8151c9

$textColor ?= #1f364d
$textDarkColor ?= #e2e2e2

$borderColor ?= #eaecef
$borderDarkColor ?= #4e4e4e

$codeBgColor ?= #282c34
$codeBgLightColor ?= $codeBgColor

$arrowBgColor ?= #ccc
$arrowBgDarkColor ?= $arrowBgColor

$badgeTipColor ?= #42b983
$badgeTipDarkColor ?= $badgeTipColor

$badgeWarningColor ?= darken(#ffe564, 35%)
$badgeWarningDarkColor ?= $badgeWarningColor

$badgeErrorColor ?= #DA5961
$badgeErrorDarkColor ?= $badgeErrorColor

$preTextColor ?= #fff
$preTextLightColor ?= #525252

$highlightedBgColor ?= rgba(0, 0, 0, .66)
$highlightedBgLightColor ?= #ccc

$languageTextColor ?= rgba(255, 255, 255, 0.4)
$languageTextLightColor ?= rgba(0, 0, 0, 0.4)

$lineNumbersColor ?= rgba(255, 255, 255, 0.3)
$lineNumbersLightColor ?= rgba(0, 0, 0, 0.3)

$miniCodeBgColor ?= rgba(27,31,35,0.05)
$miniCodeBgDarkColor ?= rgba(255,255,255,0.1)

$bgColor ?= #fff
$bgDarkColor ?= #25272a

$kbdBgColor ?= #eee
$kbdBgDarkColor ?= #444

$blockquoteTextColor ?= #999
$blockquoteTextDarkColor ?= #eee

$blockquoteBorderColor ?= #dfe2e5
$blockquoteBorderDarkColor ?= #666b6f

$tableBorderColor ?= #dfe2e5
$tableBorderDarkColor ?= $borderDarkColor

$tableStripeBgColor ?= #f6f8fa
$tableStripeBgDarkColor ?= #444

$tipColor ?= $textColor
$tipDarkColor ?= $textDarkColor

$tipBgColor ?= #f3f5f7
$tipBgDarkColor ?= #3e3b3b

$warningColor ?= #e7c000
$warningDarkColor ?= $warningColor

$warningBgColor ?= rgba(255, 229, 100, 0.3)
$warningBgDarkColor ?= rgba(185, 174, 119, 0.3)

$dangerColor ?= #c00
$dangerDarkColor ?= #8E0000

$dangerBgColor ?= #ffe6e6
$dangerBgDarkColor ?= rgba(255, 214, 214, 0.2)

$searchBorderColor ?= #999
$searchBorderDarkColor ?= #eee